// BOOTSTRAP IMPORTS
// Extra styles

.footer-fork {
    position:fixed;
    bottom:0;
    width:100%;
    background:linear-gradient(#485563, #29323c);
    text-align: center;
    padding:15px;
    box-shadow:0 5px 5px 5px rgba(0,0,0,0.4);
    z-index:999;
    color:#fff;
    font-size:1.5rem;
    display:block
}

.elm-conduit-logo {
    height: 1.5em;
}

.pl-1 {
    padding-left: 3px;
}

.nav-link i {
    padding-right: 3px;
}